<div class="container">
  <form class="col s12">
    <br>
    <br>
    <br>

    <div class="row">
    <div class="input-field col s0 m4 l4">
    </div>
    <div class="input-field col s12 m4 l4 center">

      <img src="assets/imagen.jpg">
      <h5 class="card-title"> Sistema de Recursos Humanos</h5>
    </div>
    </div>
    <div class="row">
      <div class="input-field col s0 m4 l4" >
      </div>
      <div class="input-field col s12 m4 l4">
        <input placeholder="Usuario" id="first_name" type="text" class="validate">
        <label for="first_name">Usuario</label>
      </div>
      </div>
      <div class="row">
        <div class="input-field col s0 m4 l4" >
        </div>
      <div class="input-field col s12 m4 l4">
        <input id="Password" type="password" class="validate">
        <label for="Password">Password</label>
        <button class="btn waves-effect waves-light" type="submit" name="action" (click)="login()" >Login
          <i class="material-icons right" >send</i>
        </button>
      </div>
    </div>


  </form>
</div>
