
<br>
<br>
<br>
<div class="container jumbotron">
  <img src="assets/imagen.jpg" style="text-align: center!important;" class="center-block"><br>
  <div class="row">
    <div class="col-md-4 col-xs-0">

    </div>
    <div class="col-md-4 col-xs-12">


      <label for="user">Nombre de Usuario:</label>
      <input id="user" type="text" class="form-control" placeholder="Nombre de Usuario">
      <label for="password">Contraseña:</label>
      <input id="password" type="password" class="form-control" placeholder="Contraseña"><br>
      <input id="submit" type="submit" class="form-control btn-success" >
    </div>
  </div>
</div>
