<div class="ui-g">
  <div class="ui-g-12">
    <h4>Aspirante</h4>
  </div>
</div>


<div class="ui-g">
  <div class="ui-g-12">
    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input #gb type="text" pInputText size="100%" placeholder="Global Filter">
    </div>
    <p-dataTable [value]="listado" selectionMode="single" [(selection)]="selected" (onRowSelect)="onRowSelect($event)"
                 [paginator]="true" rows="10" [responsive]="true" [globalFilter]="gb" #dt>
      <p-header>
        <div class="ui-helper-clearfix" style="width:100%">
          <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()"
                  label="Nuevo"></button>
          LISTADO ASPIRANTES
          <button type="button" pButton icon="fa-file-o" iconPos="left" label="All Data" (click)="dt.exportCSV()"
                  style="float:right"></button>
        </div>
      </p-header>

      <p-column field="cedula" header="Cédula" [sortable]="true" [filter]="true" filterPlaceholder="Search"
                filterMatchMode="contains"></p-column>
      <p-column field="primer_apellido" header="Primer Apellido" [sortable]="true" [filter]="true"
                filterPlaceholder="Search" filterMatchMode="contains"></p-column>
      <p-column field="segundo_apellido" header="Segundo Apellido" [sortable]="true" [filter]="true"
                filterPlaceholder="Search" filterMatchMode="contains"></p-column>
      <p-column field="primer_nombre" header="Primer Nombre " [sortable]="true" [filter]="true" filterPlaceholder="Search"
                filterMatchMode="contains"></p-column>
      <p-column field="segundo_nombre" header="Segundo Nombre" [sortable]="true" [filter]="true" filterPlaceholder="Search"
                filterMatchMode="contains"></p-column>
      <p-column field="genero" header="Género" [sortable]="true" [filter]="true"
                filterPlaceholder="Search" filterMatchMode="contains"></p-column>
      <p-column field="estado.name" header="Género" [sortable]="true" [filter]="true"
                filterPlaceholder="Search" filterMatchMode="contains"></p-column>
    </p-dataTable>
  </div>
</div>

<p-dialog header="EMPLEADO Detalles" [(visible)]="displayDialog" [responsive]="true" showEffect="fade"
          [modal]="true" width="70%">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="actual">
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label style="padding-left: 5%" for="cedula">Cédula Identidad</label></div>
      <div class="ui-grid-col-4"><input pInputText id="cedula" [(ngModel)]="actual.cedula" maxlength="10"/></div>

      <div class="ui-grid-col-2"><label style="padding-left: 5%" for="email">Email</label></div>
      <div class="ui-grid-col-4"><input pInputText id="email" [(ngModel)]="actual.email"/></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label style="padding-left: 5%" for="primerapellidos">Primer Apellido</label></div>
      <div class="ui-grid-col-4"><input pInputText id="primerapellidos" [(ngModel)]="actual.primer_apellido"/></div>

      <div class="ui-grid-col-2"><label style="padding-left: 5%" for="segundoapellidos">Segundo Apellido</label></div>
      <div class="ui-grid-col-4"><input pInputText id="segundoapellidos" [(ngModel)]="actual.segundo_apellido"/></div>
    </div>
      <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label style="padding-left: 5%" for="primernombres">Primer Nombre</label></div>
      <div class="ui-grid-col-4"><input pInputText id="primernombres" [(ngModel)]="actual.primer_nombre"/></div>
      <div class="ui-grid-col-2"><label style="padding-left: 5%" for="segundonombres">Segundo Nombre</label></div>
      <div class="ui-grid-col-4"><input pInputText id="segundonombres" [(ngModel)]="actual.segundo_nombre"/></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label style="padding-left: 5%" for="genero">Género</label></div>
      <div class="ui-grid-col-4"><input pInputText id="genero" [(ngModel)]="actual.genero"/></div>

      <div class="ui-grid-col-2"><label style="padding-left: 5%" for="estado_civil">Estado Civil</label></div>
      <div class="ui-grid-col-4"><input pInputText id="estado_civil" [(ngModel)]="actual.estado_civil"/></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label style="padding-left: 5%" for="nacionalidad">Nacionalidad</label></div>
      <div class="ui-grid-col-4"><input pInputText id="nacionalidad" [(ngModel)]="actual.nacionalidad"/></div>

      <div class="ui-grid-col-2"><label style="padding-left: 5%">Fecha Nacimiento</label></div>
      <div class="ui-grid-col-4">
        <p-calendar [(ngModel)]="actual.fecha_nacimiento" [showIcon]="true" [monthNavigator]="true"
                    [yearNavigator]="true" yearRange="1940:2070" [locale]="es" dateFormat="dd/mm/yy"></p-calendar>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label style="padding-left: 5%" for="lugar_nacimiento">Lugar Nacimiento</label></div>
      <div class="ui-grid-col-4"><input pInputText id="lugar_nacimiento" [(ngModel)]="actual.lugar_nacimiento"/></div>

      <div class="ui-grid-col-2"><label style="padding-left: 5%" for="direccion">Dirección</label></div>
      <div class="ui-grid-col-4"><input pInputText id="direccion" [(ngModel)]="actual.direccion"/></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label style="padding-left: 5%" for="ciudad">Ciudad</label></div>
      <div class="ui-grid-col-4"><input pInputText id="ciudad" [(ngModel)]="actual.ciudad"/></div>

      <div class="ui-grid-col-2"><label style="padding-left: 5%" for="provincia">Provincia</label></div>
      <div class="ui-grid-col-4"><input pInputText id="provincia" [(ngModel)]="actual.provincia"/></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label style="padding-left: 5%" for="telefono_domicilio">Fono Domicilio</label></div>
      <div class="ui-grid-col-4"><input pInputText id="telefono_domicilio" [(ngModel)]="actual.telefono_domicilio"/>
      </div>

      <div class="ui-grid-col-2"><label style="padding-left: 5%" for="telefono_celular">Fono Celular</label></div>
      <div class="ui-grid-col-4"><input pInputText id="telefono_celular" [(ngModel)]="actual.telefono_celular"/></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label style="padding-left: 5%" for="fotografia">Fotografía</label></div>
      <div class="ui-grid-col-4"><input pInputText id="fotografia" [(ngModel)]="actual.fotografia"/></div>
      <div class="ui-grid-col-2"><label style="padding-left: 5%" for="Estado">Estado</label></div>
      <p-dropdown [options]="estados" id="Estado" [(ngModel)]="actual.estado" placeholder="Estado" optionLabel="name" [style]="{'width':'100%'}"></p-dropdown>
    </div>



  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="close()" label="Cerrar"></button>
      <button type="button" pButton icon="fa-check" (click)="save()" label="Guardar"></button>
    </div>
  </p-footer>
</p-dialog>
